extends layout

block content
  h1= title
  a(href='/settings') Ayarlar
  <div id="app">
    <div class='col-md-4'>
        <div class="form-group">
            <label class="control-label">Başlangıç Zamanı</label>
            <div class='input-group date'>
                <input type="text" id="startDate" v-model="startDate">
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class="form-group">
            <label class="control-label">Bitiş Zamanı</label>
            <div class='input-group date'>
                <input type="text" id="endDate" v-model="endDate">
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Aktivite Adı</th>
                <th>Ücret</th>
                <th>Tarih</th>
                <th>Lokasyon</th>
                <th>Detay Link</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="i in items">
                <td>{{i.event_name}}</td>
                <td>{{i.event_price}}</td>
                <td>{{i.event_date}}</td>
                <td>{{i.event_location}}</td>
                <td><a :href='i.event_link'>{{i.event_link}}</a></td>
            </tr>
        </tbody>
    </table>
  </div>
  script.
      var vue_table = new Vue({
          el: '#app',
          data: () => ({
              startDate: "",
              endDate: "",
              allItems: [],
              items: []
          }),
          watch: {
            startDate: function(newStartDate, oldStartDate){
                vue_table.filter_by_date();
            },
            endDate: function(newEndDate, oldEndDate){
                this.filter_by_date();
            }
          },
          methods: {
            filter_by_date: function(){
                var newItemSet = [];
                if( this.startDate == "" && this.endDate == "" ){
                    this.items = this.allItems;
                }else{
                    for( var i = 0; i < this.allItems.length; i++ ){
                        var itemDate = new Date(this.allItems[i].event_date);
                        var startDateToFilter = new Date(this.startDate);
                        var endDateToFilter = new Date(this.endDate);
                        if( this.startDate != "" && this.endDate != "" ){
                            if( itemDate.getTime() >= startDateToFilter.getTime() && itemDate.getTime() <= endDateToFilter.getTime()  ){
                                newItemSet.push( this.allItems[i] );
                            }
                        }else if( this.startDate != "" ){
                            if( itemDate.getTime() >= startDateToFilter.getTime() ){
                                newItemSet.push( this.allItems[i] );
                            }
                        }else{
                            if( itemDate.getTime() <= endDateToFilter.getTime()  ){
                                newItemSet.push( this.allItems[i] );
                            }
                        }
                        this.items = newItemSet;
                    }
                }
            }
          },
          mounted() {
            $('#startDate').datetimepicker().on(
                'dp.change', () => { this.startDate = $('#startDate').val(); }
            )
            $('#endDate').datetimepicker().on(
                'dp.change', () => { this.endDate = $('#endDate').val() }
            )
          }
      }).$mount('#app');

    $(document).ready(function(){
        vue_table.allItems= !{JSON.stringify(events).replace(/<\//g, '<\\/')};
        vue_table.items= !{JSON.stringify(events).replace(/<\//g, '<\\/')};
      });